#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  max-width: 1268px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.infinite-scroll-container{
  position: relative;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  height: calc(100vh - 50px);
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  overflow: hidden scroll;
}
.infinite-scroll-header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: #0ca8e3;
  color: white;
}
h2{
  font-size: 20px;
}
.infinite-scroll-header .query{
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 5px 20px;
  color: #081215;
  width: 250px;
  box-sizing: content-box;
  border: #0ca8e3 solid 1px;
}
input.query:focus{
  border-color: #081215;
  outline: none;
  box-shadow: none;
}
.infinite-scroll-content{
  width: 100%;
  position: relative;
}
.infinitescroll-wrapper{
  display: grid;
  grid-template-columns:auto auto auto auto;
  padding: .5rem ;
  margin: .5rem;
}
.no-results{
  width: 100%;
  display: block;
  text-align: center;
  color: red;
}
.item{
  border: 2px solid green;
  padding: .5em;
  color: black;
  word-break: break-all;
  border-radius: 5px;
  margin: 5px;
}
.loader_row {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.loader {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loader span {
  height: 15px;
  width: 15px;
  background-color: #4285F4; /* Google's Blue */
  display: inline-block;
  border-radius: 50%;
  animation: expandContract 1.5s ease-in-out infinite;
}

.loader span:nth-child(1) {
  background-color: #4285F4; /* Blue */
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  background-color: #EA4335; /* Red */
  animation-delay: 0.3s;
}

.loader span:nth-child(3) {
  background-color: #FBBC05; /* Yellow */
  animation-delay: 0.6s;
}



@keyframes expandContract {
  0%, 100% {
    transform: scale(.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
}
